/* RESET UL LI A */
img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}
/* ************ */

.header-color {
  background-color: #2c3e50;
}

.green {
  background-color: #1abc9c;
}

.blue {
  background-color: #3a546d;
}

.white {
  color: white;
}

.bc-white {
  background-color: white;
}

.bc-black {
  background-color: black;
}

.line {
  height: 3px;
  width: 130px;
}

main section:nth-child(odd) {
  background-color: #1abc9c;
  color: white;
}

/* DEBUG */

.debug {
  height: 80px;
  border: 2px solid black;
}

/* MY CLASSES */

.ms_card {
  border: none;
}

#bootstrap svg {
  width: 250px;
}

#contact-form input,
#contact-form textarea {
  border: none;
  border-bottom: 1px solid gray;
}
